*{
   margin:auto;
border: 50px white solid;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.125rem;
}
/*.button{
	align-self: center;
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}*/
.container{
width:80%;
align-self: auto;
/*background-color: green;*/
}
#human-vs-human{
	align-self: center;
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
	/*position: absolute;*/
	/*top: 200px;*/
}
#human-vs-machine{
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}
#machine-vs-machine{
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}
#human-vs-human:hover{
	background-color: blue;
	color:white;
}
#human-vs-machine:hover{
	background-color: blue;
	color:white;
}
#machine-vs-machine:hover{
	background-color: blue;
	color:white;
}


#board {
    padding: 3rem;
    margin: 1.5rem;
    text-align: center;
}

.square {
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    background-color: #f8F9fa;
}

.square:hover {
    cursor: pointer;
}

.row {
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom-color: rgba(52, 58, 64, 0.500);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.bottom {
    border-top-color: rgba(52, 58, 64, 0.500);
    border-top-style: solid;
    border-top-width: 1px;
}

.left {
    border-right-color: rgba(52, 58, 64, 0.500);
    border-right-style: solid;
    border-right-width: 1px;
}

.right {
    border-left-color: rgba(52, 58, 64, 0.500);
    border-left-style: solid;
    border-left-width: 1px;
}

#squareC {
    border-top-right-radius: 0.25rem;
}

#squareI {
    border-bottom-right-radius: 0.25rem;
}

#squareG {
    border-bottom-left-radius: 0.25rem;
}

#squareA {
    border-top-left-radius: 0.25rem;
}	

/*"css-files/my-styles.css"*/
