*{
   margin:auto;
border: 50px white solid;
}

/*.button{
	align-self: center;
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}*/
.container{
width:80%;
align-self: auto;
/*background-color: green;*/
}
#human-vs-human{
	align-self: center;
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
	/*position: absolute;*/
	/*top: 200px;*/
}
#human-vs-machine{
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}
#machine-vs-machine{
	padding:20px 15px;
	margin:10px;
	background-color: black;
	color:white;
}
#human-vs-human:hover{
	background-color: blue;
	color:white;
}
#human-vs-machine:hover{
	background-color: blue;
	color:white;
}
#machine-vs-machine:hover{
	background-color: blue;
	color:white;
}

#board{
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 33.333%;
  border: 6px solid #222;
}

td::after {
  content: "";
  display: block;
  margin-top: 100%;
}

td {
  border: 6px solid #222;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
}	

/*"css-files/my-styles.css"*/
