body{
	background-color: black;
}
h1{
color: white;
position:absolute;
top:35%;
left: 42%
}
.container{
background-color:skyblue;
position: absolute;
top:50%;
left:45%;
width:10%;
height: 50px;
text-align: center;
display: inline-block;

}
.container:hover{
	background-color: grey;
}
a:link{
	text-decoration: none;
	font-size: 22px;
   
}
a:hover{
	text-decoration: none;
	color:black;
}
a:active{
	color: black;
}